# OS-specific files
.DS_Store
Thumbs.db

# NPM files
node_modules
npm-debug.log
*.tgz

# Editors and IDEs
*.sublime-project
*.sublime-workspace
.idea
.vscode

# dist files
dist/

# Testing tools and outputs
/tests/reports/
/tests/results/
/tests/fixtures/dist/
/playwright/.cache/
/playwright-report/