---
import "../styles/reset.css";
import "../styles/fonts.css";
import "../styles/global.css";

import Head from "../components/Head.astro";
import Footer from "../components/Footer.astro";
interface Props {
  title?: string;
  description?: string;
  isFrontPage?: boolean;
}
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head
    title={title ? `${title} - ${SITE_TITLE}` : SITE_TITLE}
    description={description ?? SITE_DESCRIPTION}
  />
  <body>
    <div class="container">
      <header>
        <h1 class="site-title">ScrollMirror</h1>
        <p class="is-h2">
          Sync the scroll position of multiple elements on your page
        </p>
        <nav>
          <ul class="navlist">
            <!-- <li class="navlist_item"><a class="button" href="/scrollmirror">Demo</a></li>
            <li class="navlist_item"><a class="button" href="/scrollmirror/docs">Docs</a></li> -->
            <li class="navlist_item"><a class="button" href="https://github.com/hirasso/scrollmirror">GitHub</a></li>
          </ul>
        </nav>
      </header>
      <!-- <Header /> -->
      <slot />
      <Footer />
    </div>
    <style>
      header {
        text-align: center;
        padding: 5vw var(--gap);
      }
      .site-title {
        font-size: clamp(3rem, 12vw, 10rem);
        /* color: hsl(0, var(--saturation), var(--lightness)); */
        --_offset: 0.02em;
        font-weight: 200;

        /* text-shadow:
          var(--_offset) var(--_offset) 0px
            hsl(20, var(--saturation), var(--lightness)),
          calc(var(--_offset) * 2) calc(var(--_offset) * 2) 0px
            hsl(40, var(--saturation), var(--lightness)),
          calc(var(--_offset) * 3) calc(var(--_offset) * 3) 0px
            hsl(40, var(--saturation), var(--lightness)); */
      }
      .is-h2 {
        padding-block: 0;
      }
    </style>
  </body>
</html>
