---
import Table from "./Table.astro";
---

<div class="wrap wrap--both">
  <div class="pane pane--both">
    <div class="scroller --both" data-testid="first-both">
      <Table rows={20} columns={20} uniqueid="first-both" />
    </div>
  </div>
  <div class="pane pane--both">
    <div class="scroller --both" data-testid="second-both">
      <Table rows={40} columns={40} uniqueid="second-both" />
    </div>
  </div>
  <div class="pane pane--both">
    <div class="scroller --both" data-testid="third-both">
      <Table rows={60} columns={60} uniqueid="third-both" />
    </div>
  </div>
</div>
<style>
  .wrap {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }
  .pane + .pane {
    border-left: var(--border-style);
    margin-left: -1px;
  }
  .pane:last-child {
    display: none;
  }

  .scroller {
    aspect-ratio: 9 / 16;
    overflow: auto;
  }
  @media (min-width: 800px) {
    .wrap {
      grid-template-columns: repeat(3, 33.333333%);
    }
    .pane:last-child {
      display: block;
    }
    .scroller {
      aspect-ratio: 1;
    }
  }
</style>
