---
import Tiles from "./Tiles.astro";
---
<h2 class="is-h2">Horizontal</h2>
<div class="wrap wrap--horizontal">
  <div class="pane pane--horizontal">
    <div class="scroller --horizontal" data-testid="first-horizontal">
      <Tiles amount={100} direction="horizontal" uniqueid="first-horizontal" />
      <i data-testid="first-horizontal-end"></i>
    </div>
  </div>
  <div class="pane pane--horizontal">
    <div class="scroller --horizontal" data-testid="second-horizontal">
      <Tiles amount={150} direction="horizontal" uniqueid="second-horizontal" />
      <i data-testid="second-horizontal-end"></i>
    </div>
  </div>
  <div class="pane pane--horizontal">
    <div class="scroller --horizontal" data-testid="third-horizontal">
      <Tiles amount={50} direction="horizontal" uniqueid="third-horizontal" />
      <i data-testid="third-horizontal-end"></i>
    </div>
  </div>
</div>

<style>
  .pane + .pane:after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    border-top: var(--border-style);
    margin-top: -1px;
  }
  .scroller {
    overflow: auto;
  }
</style>
