---
import Tiles from "./Tiles.astro";
---

<h2>Vertical</h2>
<div class="wrap">
  <div class="pane">
    <h3>Scroller 1</h3>
    <div class="scroller --vertical" data-testid="first-vertical">
      <Tiles amount={60} uniqueid="first-vertical" />
      <i data-testid="first-vertical-end"></i>
    </div>
  </div>
  <div class="pane">
    <h3>Scroller 2</h3>
    <div class="scroller --vertical" data-testid="second-vertical">
      <Tiles amount={20} uniqueid="second-vertical" />
      <i data-testid="second-vertical-end"></i>
    </div>
  </div>
  <div class="pane">
    <h3>Scroller 3</h3>
    <div class="scroller --vertical" data-testid="third-vertical">
      <Tiles amount={40} uniqueid="third-vertical" />
      <i data-testid="third-vertical-end"></i>
    </div>
  </div>
</div>

<style>
  .wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .pane {
    border: 1px solid gold;
  }
  .scroller {
    aspect-ratio: 2 / 1;
    overflow: auto;
  }
</style>
