---
import Tiles from "./Tiles.astro";
import { XIcon } from 'astro-feather';
---

<aside class="scroller --sidebar" data-testid="sidebar">
  <header class="header">
    <p><em>This element's scroll position is being mirrored with the window</em></p>
    <button class="button button--icon"><XIcon strokeWidth={2} /></button>
  </header>
  <Tiles amount={100} direction="vertical" uniqueid="sidebar" />
</aside>
<style>
  .scroller {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: min(400px, 80%);
    z-index: 3;
    background: red;
    overflow: auto;
    border-left: 1px solid var(--background);
    transition: transform 200ms ease-out;
    transform: translateX(100%);
  }
  .scroller.--show {
    transform: translateX(0);
  }
  .header {
    padding: var(--half-gap);
    position: sticky;
    top: 0;
    background: #000;
    display: flex;
    gap: var(--half-gap);
    grid-template-columns: 1fr 100px;
    align-items: flex-start;
  }
  .button {
    padding: 0.2em;
    border: none;
  }
</style>
