---
import Tiles from "./Tiles.astro";
---

<div class="scroller --sidebar" data-testid="sidebar">
  <div class="text">
    <p><em>This element's scroll position is being mirrored with the window</em></p>
  </div>
  <Tiles amount={100} direction="vertical" uniqueid="sidebar" />
</div>
<style>
  .scroller {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: min(400px, 80%);
    z-index: 3;
    background: red;
    overflow: auto;
    border-left: 1px solid var(--background);
  }
  .text {
    padding: var(--half-gap);
    position: sticky;
    top: 0;
    background: #333;
    text-align: center;
  }
</style>
