---
import Layout from "../layouts/Default.astro";
import Tiles from "../components/examples/Tiles.astro";
import WindowExample from "../components/examples/WindowExample.astro";
---

<Layout isFrontPage={true} noindex={true}>
  <Tiles amount={300} direction="vertical" uniqueid="first-vertical" />
  <section id="window">
    <WindowExample />
  </section>
</Layout>

<script>
  import ScrollMirror from "../../../src/index.js";

  import { $, $$ } from "../js/helpers";

  /** Mirroring with the window */
  const $sidebar = $<HTMLElement>(".scroller.--sidebar");
  if ($sidebar) new ScrollMirror([window, $sidebar]);

</script>

<style>
  .section_header {
    padding: var(--gap);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--half-gap);
  }
</style>