---
import Layout from "../layouts/Layout.astro";
import VerticalExample from "../components/examples/Vertical.astro";
import HorizontalExample from "../components/examples/Horizontal.astro";
import BothDirectionsExample from "../components/examples/BothDirections.astro";
import WindowExample from "../components/examples/WindowExample.astro";
import { ArrowRightIcon } from "astro-feather";
---

<Layout isFrontPage={true}>
  <p class="is-h2" slot="after-header">Sync the scroll position of multiple elements on your page</p>
  <section id="vertical">
    <header class="section_header">
      <h2 class="is-h2"><a href="#vertical">Vertical</a></h2>
    </header>
    <VerticalExample />
  </section>

  <section id="horizontal">
    <header class="section_header">
      <h2 class="is-h2"><a href="#horizontal">Horizontal</a></h2>
    </header>
    <HorizontalExample />
  </section>

  <section id="both-directions">
    <header class="section_header">
      <h2 class="is-h2"><a href="#both-directions">Both Directions</a></h2>
    </header>
    <BothDirectionsExample />
  </section>

  <section id="footer">
    <header class="section_header">
      <h2 class="is-h2">Experimental: Between the root and HTML elements</h2>
      <a href="/root" class="button"><span>View Example</span> <ArrowRightIcon /></a>
    </header>
  </section>
</Layout>

<style>
  #footer {
    margin-block-end: 10%;
  }
</style>

<script>
  import ScrollMirror from "../../../src/index.js";

  import { $$ } from "../js/helpers";
  /** Vertical mirroring */
  new ScrollMirror($$(".scroller.--vertical"));
  /** Horizontal mirroring */
  new ScrollMirror($$(".scroller.--horizontal"));
  /** Mirroring in both directions */
  new ScrollMirror($$(".scroller.--both"));

</script>
