---

---

<div class="scroller--sidebar scrollbar:hidden" data-testid="scroller-fixed">
  <h3>Scroller mirroring the window</h3>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa dicta, unde
    harum a ipsam animi, iure at aut iste quos nulla delectus, ex maxime porro
    ducimus odit. Totam, accusamus dolorum!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, dolorem
    deleniti quaerat, deserunt corporis accusantium voluptate rem adipisci a et
    esse neque obcaecati qui saepe. Atque qui cumque minima odio deserunt sit
    minus, vel expedita nulla? Laudantium amet est expedita consequatur sequi
    magni minus non id maiores earum perferendis nemo rem, aspernatur adipisci
    quae aliquam atque vitae obcaecati deserunt ipsa doloribus itaque! Labore
    dolores inventore perferendis explicabo qui. Magni, praesentium excepturi
    minus quas eius impedit laborum molestiae veniam architecto facilis vel
    optio aliquid expedita commodi error ipsa possimus rem.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, dolorem
    deleniti quaerat, deserunt corporis accusantium voluptate rem adipisci a et
    esse neque obcaecati qui saepe. Atque qui cumque minima odio deserunt sit
    minus, vel expedita nulla? Laudantium amet est expedita consequatur sequi
    magni minus non id maiores earum perferendis nemo rem, aspernatur adipisci
    quae aliquam atque vitae obcaecati deserunt ipsa doloribus itaque! Labore
    dolores inventore perferendis explicabo qui. Magni, praesentium excepturi
    minus quas eius impedit laborum molestiae veniam architecto facilis vel
    optio aliquid expedita commodi error ipsa possimus rem.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, dolorem
    deleniti quaerat, deserunt corporis accusantium voluptate rem adipisci a et
    esse neque obcaecati qui saepe. Atque qui cumque minima odio deserunt sit
    minus, vel expedita nulla? Laudantium amet est expedita consequatur sequi
    magni minus non id maiores earum perferendis nemo rem, aspernatur adipisci
    quae aliquam atque vitae obcaecati deserunt ipsa doloribus itaque! Labore
    dolores inventore perferendis explicabo qui. Magni, praesentium excepturi
    minus quas eius impedit laborum molestiae veniam architecto facilis vel
    optio aliquid expedita commodi error ipsa possimus rem.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, dolorem
    deleniti quaerat, deserunt corporis accusantium voluptate rem adipisci a et
    esse neque obcaecati qui saepe. Atque qui cumque minima odio deserunt sit
    minus, vel expedita nulla? Laudantium amet est expedita consequatur sequi
    magni minus non id maiores earum perferendis nemo rem, aspernatur adipisci
    quae aliquam atque vitae obcaecati deserunt ipsa doloribus itaque! Labore
    dolores inventore perferendis explicabo qui. Magni, praesentium excepturi
    minus quas eius impedit laborum molestiae veniam architecto facilis vel
    optio aliquid expedita commodi error ipsa possimus rem.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, dolorem
    deleniti quaerat, deserunt corporis accusantium voluptate rem adipisci a et
    esse neque obcaecati qui saepe. Atque qui cumque minima odio deserunt sit
    minus, vel expedita nulla? Laudantium amet est expedita consequatur sequi
    magni minus non id maiores earum perferendis nemo rem, aspernatur adipisci
    quae aliquam atque vitae obcaecati deserunt ipsa doloribus itaque! Labore
    dolores inventore perferendis explicabo qui. Magni, praesentium excepturi
    minus quas eius impedit laborum molestiae veniam architecto facilis vel
    optio aliquid expedita commodi error ipsa possimus rem.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, dolorem
    deleniti quaerat, deserunt corporis accusantium voluptate rem adipisci a et
    esse neque obcaecati qui saepe. Atque qui cumque minima odio deserunt sit
    minus, vel expedita nulla? Laudantium amet est expedita consequatur sequi
    magni minus non id maiores earum perferendis nemo rem, aspernatur adipisci
    quae aliquam atque vitae obcaecati deserunt ipsa doloribus itaque! Labore
    dolores inventore perferendis explicabo qui. Magni, praesentium excepturi
    minus quas eius impedit laborum molestiae veniam architecto facilis vel
    optio aliquid expedita commodi error ipsa possimus rem.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, dolorem
    deleniti quaerat, deserunt corporis accusantium voluptate rem adipisci a et
    esse neque obcaecati qui saepe. Atque qui cumque minima odio deserunt sit
    minus, vel expedita nulla? Laudantium amet est expedita consequatur sequi
    magni minus non id maiores earum perferendis nemo rem, aspernatur adipisci
    quae aliquam atque vitae obcaecati deserunt ipsa doloribus itaque! Labore
    dolores inventore perferendis explicabo qui. Magni, praesentium excepturi
    minus quas eius impedit laborum molestiae veniam architecto facilis vel
    optio aliquid expedita commodi error ipsa possimus rem.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, dolorem
    deleniti quaerat, deserunt corporis accusantium voluptate rem adipisci a et
    esse neque obcaecati qui saepe. Atque qui cumque minima odio deserunt sit
    minus, vel expedita nulla? Laudantium amet est expedita consequatur sequi
    magni minus non id maiores earum perferendis nemo rem, aspernatur adipisci
    quae aliquam atque vitae obcaecati deserunt ipsa doloribus itaque! Labore
    dolores inventore perferendis explicabo qui. Magni, praesentium excepturi
    minus quas eius impedit laborum molestiae veniam architecto facilis vel
    optio aliquid expedita commodi error ipsa possimus rem.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, dolorem
    deleniti quaerat, deserunt corporis accusantium voluptate rem adipisci a et
    esse neque obcaecati qui saepe. Atque qui cumque minima odio deserunt sit
    minus, vel expedita nulla? Laudantium amet est expedita consequatur sequi
    magni minus non id maiores earum perferendis nemo rem, aspernatur adipisci
    quae aliquam atque vitae obcaecati deserunt ipsa doloribus itaque! Labore
    dolores inventore perferendis explicabo qui. Magni, praesentium excepturi
    minus quas eius impedit laborum molestiae veniam architecto facilis vel
    optio aliquid expedita commodi error ipsa possimus rem.
    <i data-testid="scroller-fixed-end"></i>
  </p>
</div>
