*, *:before, *:after {
  box-sizing: border-box;
}
:root {
  height: 100%;
  --gap: calc(0.5rem + 2vw);
  --background: #eee;
}
body {
  height: 100%;
  padding: var(--gap);
  margin: 0;
  font-family: system-ui;
  overflow: hidden;
  border: 1px solid;
  display: grid;
  grid-template: 100% / 100%;
  justify-items: center;
  background: var(--background);
  hyphens: auto;
}
.scrollers {
  display: grid;
  grid-template: 100% / repeat(2, 50%);
  width: min(800px, 100%);
  gap: var(--gap);
}
.scroller {
  border: 1px solid rgb(0 0 0 / 0.2);
  height: 100%;
  border-radius: 1rem;
  overflow: hidden;
  background: white;
}
.pane {
  height: 100%;
  padding: var(--gap);
  overflow-y: auto;
}