*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --gap: min(2rem, calc(0.5rem + 2vw));
  --background: #eee;
  --text-large: clamp(1.5rem, 4vw, 3rem);
  --text-medium: clamp(1.2rem, 4vw, 1.7rem);
  --sidebar-width: 400px;
}

body {
  padding: var(--gap);
  margin: 0;
  font-family: system-ui;
  background: linear-gradient(45deg, hsl(200, 57%, 90%), hsl(300, 57%, 100%));
  background-attachment: fixed;
  hyphens: auto;
  line-height: 1.4;
}

h1,
h2,
h3 {
  margin-block-start: 0;
}

h1 {
  font-size: var(--text-large);
}

h2 {
  font-size: var(--text-medium);
}

.container {
  width: min(1200px, 100%);
  margin-inline: auto;
  margin-block: 5vw;
}

header,
section {
  margin-block-end: calc(2rem + 3vw);
  margin-inline: auto;
}

header {
  text-align: center;
}

header h1 {
  margin-block-end: 0.4em;
}

header p {
  margin-block: 0;
  font-size: 1.15rem;
  max-width: 300px;
  margin-inline: auto;
}

section h2 {
  text-align: center;
}

.pane {
  border: 1px solid rgb(0 0 0 / 0.1);
  height: 100%;
  border-radius: 1rem;
  background: white;
  overflow: hidden;
  box-shadow: 2px 2px 15px rgb(0 0 0 / 0.1);
}

.scroller {
  height: 100%;
  width: 100%;
  padding: var(--gap);
  /* overscroll-behavior: contain; */
  overflow: hidden;
}

/*
* Vertical Scrolling
*/
.wrap--vertical {
  height: 400px;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 100%;
  gap: var(--gap);
}

.scroller--vertical {
  overflow-y: auto;
}

@media (max-width: 800px) {
  .pane--vertical:last-child {
    display: none;
  }
}

/*
* Horizontal scrolling
*/
.wrap--horizontal {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 100%;
  gap: var(--gap);
}

.scroller--horizontal {
  white-space: nowrap;
  overflow-x: auto;
  --_gap: calc(var(--gap) * 0.5);
  padding: var(--_gap);
}

.scroller--horizontal h3 {
  position: sticky;
  left: 0;
}

.scroller--horizontal p {
  margin: 0;
  width: max-content;
}

/*
* Both directions
*/
.wrap--both {
  height: 200px;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 100%;
  gap: var(--gap);
}

.scroller--both {
  overflow: auto;
  padding: var(--gap);
}

.scroller--both p {
  width: 200%;
}

/*
* Fixed scroller mirroring the window
*/
.scroller--fixed {
  position: fixed;
  top: 0;
  right: 0;
  width: var(--sidebar-width);
  height: 100%;
  padding: var(--gap);
  overflow-y: auto;
  background: white;
  transform: translateX(100%);
}

@media (min-width: 1300px) {
  .scroller--fixed {
    transform: none;
  }

  .container {
    padding-right: var(--sidebar-width);
    width: min(1400px, 100%);
  }
}

.scrollbar\:hidden {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}