
:root {
  --gap: min(2rem, calc(0.5rem + 2vw));
  --background: rgb(26, 26, 26);
  --color: rgb(225, 225, 225);

  --saturation: 100%;
  --lightness: 80%;

  --text-default: clamp(1.2rem, 4vw, 1rem);
  --text-medium: clamp(1rem, 2vw, 1.5rem);
  --text-large: clamp(1.5rem, 4vw, 3rem);
  --sidebar-width: 400px;
  --font-mono: "IBM Plex Mono", monospace;
  --font-sans: system-ui, sans-serif;
  font-family: var(--font-mono);
  --border-style: 1px solid rgb(0 0 0 / 0.2);

  background: var(--background);
  color: var(--color);
  font-size: var(--text-default);
  font-weight: 200;
}

.is-h2 {
  font-size: var(--text-medium);
  max-width: 40ch;
  margin-inline: auto;
  color: rgb(27, 235, 158);
  font-style: italic;
  padding: var(--gap);
  text-align: center;
}

.pane {
  position: relative;
  color: var(--background);
}
