*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

:root {
  --gap: min(2rem, calc(0.5rem + 2vw));
  --background: #eee;
  --text-large: clamp(1.5rem, 4vw, 3rem);
  --text-medium: clamp(1.2rem, 4vw, 1.7rem);
  --sidebar-width: 400px;
  --font-mono: "IBM Plex Mono", monospace;
  --font-sans: system-ui, sans-serif;
  font-family: var(--font-mono);
}

